* {
    box-sizing: border-box;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkgreen;
}

.game-container {
    height: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.play-zone {
    max-width: 1200px;
    max-height: calc(100vh - 3rem);
    aspect-ratio: 15 / 12;
}

.card {
    display: block;
    width: 100%;
}

.empty-space {
    aspect-ratio: 5 / 7;
    box-sizing: border-box;
}

.empty-space--with-border {
    border: 2px solid gray;
    border-radius: 10px;
}
