#root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkgreen;
}

.card {
    display: block;
    width: 100%;
}

.empty-space {
    aspect-ratio: 5 / 7;
    box-sizing: border-box;
}

.empty-space--with-border {
    border: 2px solid gray;
    border-radius: 10px;
}
